<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Member Form</title>
</head>
<body>
<form th:action="@{/member/save}" method="post">
    <input type="hidden"
           th:field="*{member.id}">
    <div>
        <label>Name:</label>
        <input type="text"
               th:field="*{member.name}" placeholder="Member Name" required>
    </div>
    <div>
        <label>Description:</label>
        <input type="text"
               th:field="*{member.description}" placeholder="Member Description" required>
    </div>
    <div>
<!--        <label>Price:</label>-->
<!--        <input type="number"-->
<!--               th:field="*{member.price}" placeholder="Member Price" step="0.01" required>-->
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>